/* Id */
#header {
  background-color: #d8e6ed;
}

#competenze {
  margin: 0;
  text-align: center;
}

/* Classi */
.card {
  margin: 50px;
  border: 0;
}

.card-text {
  margin-left: auto;
  text-align: center;
}

.container-fluid {
  padding: 0;
  }
  .container-row-card {
    text-align: center;
    margin-right: 0;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.immagine-nome {
  text-align: center;
}
.nome-ruolo {
  text-align: left;

}
.logo {
  height: 80px;
  width: 80px;
margin-left: 100px;
}
.navbar {
  padding-bottom: 0;
}
.navbar-nav {
  position: relative;
  right: 137px;
}
.nav-item {
  padding: 0 25px;
}
.row-card{
  padding: 30px 0;
  margin: 0 100px 0;
}

.row-name {
  margin-left: 50px;
  padding: 30px 0;
}
.servizi {
  padding-top: 20px;
}


/* Selettori */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 0;
margin-left: 50px;
}
nav {
  position: fixed;
}
h2 {
  font-family: "Montserrat", sans-serif;
margin-left: 50px;
  }
  p {
    margin-left: 50px;
  }
body {
  margin-right: 0;
}
/* Media Query*/
